fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
sentence-transformers
chromadb
pymupdf
trafilatura
beautifulsoup4
youtube-transcript-api
google-genai
tiktoken
langchain
langchain-core
langchain-chroma
langchain-huggingface[full]
langchain-google-genai